<h1>All Contacts<h1>
  <% @contacts.each do |contact| %>
  <a href="/contacts/<%= contact.id %>">
    <li>
      <%= contact.first_name %> <%= contact.last_name %>  <a href="/contacts/edit">Edit Contact</a> <a href="/contacts/:id">Delete Contact</a>
    </li>
  </a>
 <% end %>



