<header>
  <h1>Welcome to <%= @crm_app_name %></h1>
</header>

<article>
  <img src="http://img.rasset.ie/0008c2d7-630.jpg" alt="Long Live the King">

  <p id="second">
    For those of us climbing to the top of the food chain, there can be no mercy. There is but one rule: hunt or be hunted
  </p>

  <h2>Frank Underwood</h2>

  <p>
    I’ve always loathed the necessity of sleep. Like death, it puts even the most powerful men on their backs
  </p>
<article>