<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My first web application</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>


    <%= yield %>

    <ul>
        <li><a href="/contacts">View all contacts</a></li>
        <li><a href="/contacts/new">Add a contact</a></li>
      </ul>


  <footer class="highlight">Website Owned by Kevin Kuhlmann</footer>
  </body>
</html>