<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Web Application</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>


    <%= yield %>

    <ul>
        <li><a href="/contacts">View all Contacts</a></li>
        <li><a href="/contacts/new">Add a Contact</a></li>

    </ul>


  <footer class="highlight">Website Created by Kevin Kuhlmann</footer>
  </body>
</html>