<h1>Create A New Contacts</h1>

<form action = "/contacts" method = "post">

  <div class="field">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" placeholder="e.g. Kevin">
  </div>

  <div class="field">
    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name="last_name" placeholder="e.g. Kuhlmann">
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="e.g. example@gmail.com">
  </div>

  <div class="field">
    <label for="notes">Notes</label>
    <input id="notes" type="text" name="notes" placeholder="e.g. Bitmaker student">
  </div>


  <input type="submit" value="Create Contact">
</form>

