* {
  margin: 0cm;
}

body {
    text-align: center;
    font-family: helvetica, sans-serif;

  /*margin: 0;*/
}

p {font-size: 24px;
  color: black;
}


.highlight {
  background-color: orange;
}

h1 {
    font-size: 70px;
    color: red;
    background-color: black;
    font-style: bold;
  }




